div.swiper-button-prev,
div.swiper-button-next {
  color: #ffba08;
  width: 3.75rem;
  height: 3.75rem;
}

span.swiper-pagination-bullet {
  background: #999999;
  opacity: 1;
  width: 1rem;
  height: 1rem;

  &.swiper-pagination-bullet-active {
    background: #ffba08;
  }
}

@media (max-width: 850px) {
  div.swiper-button-prev::after,
  div.swiper-button-next::after {
    font-size: 16px;
    font-weight: bold;
  }

  span.swiper-pagination-bullet {
    opacity: 1;
    width: .5rem;
    height: .5rem;
  }  
}
